<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  <servlet-name>Calculator</servlet-name>
  <servlet-class>com.Servlets.Bmi_Calculator</servlet-class>
  <init-param>
  <param-name>square</param-name>
  <param-value>2</param-value>
  </init-param>
  <init-param>
  <param-name>foot</param-name>
  <param-value>0.3048</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>Calculator</servlet-name>
  <url-pattern>/BMI</url-pattern>
  </servlet-mapping>
</web-app>
